<a href="https://colab.research.google.com/github/jpringgo/RevoU/blob/main/RevoU_25Mar22_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Type Constraints

In [1]:
import pandas as pd

In [5]:
sampleweight = pd.read_csv('Sampleweight.csv', sep = ';')
sampleweight.head()

   Sample ID Weight
0          1  500 g
1          2  650 g
2          3  510 g
3          4  480 g
4          5  558 g

The weigh contain both numbers and string. We can check the data types by using **.dtypes** attribute

In [6]:
sampleweight.dtypes

Sample ID     int64
Weight       object
dtype: object

# Handling Missing Data

Import Pandas library and give it alias "pd" and read the csv file.

In [ ]:
import pandas as pd

In [7]:
users  = pd.read_csv('Users.csv', sep = ';')
users.head()

  Register Date    Name    Country
0    01/09/2020   Semar  Indonesia
1    23/12/2021  Gareng    Estonia
2    19/02/2022  Petruk    Bahrain
3    10/09/2024  Bagong   Maldives
4           NaN     NaN        NaN

We could check the Users data type and how many null values are in the data using the **info()**

In [8]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  8 non-null      object
 1   Name           8 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes

Alternatively, you could also:

In [9]:
users.isna().sum()

Register Date    1
Name             1
Country          2
dtype: int64

In [10]:
users[users.isnull().any(axis=1)]

  Register Date    Name Country
4           NaN     NaN     NaN
6    11/04/2020  Shinta     NaN

We can drop the row having empty data by using the **.dropna**. First, make a copy of your data so that you don't lose the original data. When you want to **drop columns, use axis=1**. Otherwise, use **axis=0** to drop rows

In [11]:
dropped_users = users.copy()
dropped_users.dropna(axis=0, inplace=True)
dropped_users

  Register Date       Name    Country
0    01/09/2020      Semar  Indonesia
1    23/12/2021     Gareng    Estonia
2    19/02/2022     Petruk    Bahrain
3    10/09/2024     Bagong   Maldives
5    10/08/2021     Arjuna  Argentina
7    05/11/2021      Anila      Japan
8    08/08/2021  Gatotkaca     Norway

In [12]:
dropped_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 8
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Register Date  7 non-null      object
 1   Name           7 non-null      object
 2   Country        7 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

# Data Range Constraints

Sometimes you already have a data range and your data should not exceed the predetermined range. However, there could be room for errors especially if your data type is string and it's from free-text manual input. Now, let's take a look at our  data types.

Since the register data

# Removing Duplicates

In [17]:
import pandas as pd
products = pd.read_csv('Products.csv', sep=';', encoding = 'unicode_escape')
products.head()

,Product ID,Product Name,Product Categories
0,1,Cimory Squeeze Original Yogurt 120ml,Susu & Olahan Susu-Yogurt
1,2,KitKat Green Tea 4F 35gr,Snack-Cokelat
2,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau
3,4,Emina Sun Protection SPF 30 PA+++,Kecantikan-Sunscreen
4,3,Bayam Hidroponik 150 gram,Sayur & Buah-Sayuran Hijau

As you can see in the table preview, we have duplicated data for Produt ID number 3. When we have bigger datasets, we will not be able to spot the duplicated data only from the table preview, yet you don't want to waste your time skimming through the data all by yourself. Use the **.duplicated()** to retrieve the data that have duplicates.

In [18]:
products[products.duplicated()]

   Product ID               Product Name          Product Categories
4           3  Bayam Hidroponik 150 gram  Sayur & Buah-Sayuran Hijau

# Splitting Column

Sometimes you have a data in one column that you would like to split into several columns to be alble to analyze your data the way it should be done. You could use the **.str.split()** function, and specifying the delimiter in the argument. Now, we would like to split the 'Categories' column into Level 1 and Level 2 Categories.

To be able to append the columns into the same table, add new columns into the dataframe.